body,html{
background: #EEEEF4;
overflow:hidden;
margin:0;
padding:0;
text-align:center;
font-family: monospace;
font-weight: 100;
cursor:default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;  

}

.construction-message{
position:absolute;
top:25%;
width:100%;
}

h1{
color:#E43;
font-weight:100;
font-size:3em;
}

h2{
color:#333333;
font-weight:300;
font-size:1.5em;
}

a{
font-weight:300;
color:#E43;
text-decoration: none;
font-size:1.5em;
}

span{
color:#E43;
}

.footer{
position:absolute;
bottom:0;
margin-left:10px;
}
a{
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}
a:hover{
    background-color: rgb(216, 216, 216);
    transition: ease .5s;
}
